<h2 class="page-header-text" >Sign up</h2>

<div class="grid-x">
  <div class="devise-user-tile callout cell small-11 medium-8 large-6" >
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "horizons-body-font" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "horizons-body-font" %>
        <% if @minimum_password_length %>
        <em class="horizons-body-font">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "horizons-body-font" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button horizons-body-font bold" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
